@import '../../styles/abstracts/controls';
.contentBlock {
	padding-top: 2rem;
	@extend %flexbox;
	@extend %justify-between;
	@include media('<phone') {
		@include flex-direction(column);
	}
	@include media('>=phone', '<tablet') {
		@include flex-direction(column);
	}
	&__left {
		flex: 1 1 auto;
		@extend %flex-column;
		@extend %justify-center;
		@include media('<phone') {
			order: 2;
			margin-top: 1.5rem;
		}
		@include media('>=phone', '<tablet') {
			order: 2;
			margin-top: 1.5rem;
		}
		.contentArea {
			background: theme-colors('background', 'white');
			padding: 1rem 1.5rem;
			@extend %flex-column;
			@include border-radius(4px);
			.paymentContainer {
				@extend %flex-column;
				@extend %all-center;
				font-size: 20px;
			}
			.errorMessage {
				min-height: 200px;
				@extend %flex-column;
				@extend %all-center;
			}
			.listBlock {
				max-width: 80%;
				margin: 1rem 0rem;
				@extend %flex-column;
				li {
					flex: 1 1 auto;
					position: relative;
					border-bottom: 1px solid
						theme-colors('primary', 'light', 0.05);
					font-size: 18px;
					font-weight: 500;
					color: theme-colors('theam', 'dark');
					padding: 0.75rem 0.75rem 0.75rem 2rem;
					cursor: pointer;
					@extend %flexbox;
					@extend %item-center;
					@include transition(all 0.4s ease-in-out);
					&:before {
						content: '';
						left: 0.5rem;
						top: 50%;
						position: absolute;
						width: 15px;
						height: 15px;
						position: absolute;
						border: 3px solid theme-colors('theam', 'light');
						@include border-radius(50%);
						@include transform(translateY(-50%));
					}
					&.active {
						@include transition(all 0.4s ease-in-out);
						&:before {
							background-color: theme-colors('theam', 'dark');
						}
					}
					&:hover {
						@include transition(all 0.4s ease-in-out);
						background-color: theme-colors('theam', 'light', 0.2);
					}
					p {
						min-width: 220px;
						color: theme-colors('theam', 'dark');
					}

					span {
						margin-left: 2rem;
					}
				}
			}
			.success {
				width: 80%;
				margin: auto;
				padding: 1.2rem 0rem;
				@extend %flex-column;
				@extend %all-center;
				h3 {
					font-size: 20px;
					text-align: center;
					margin-bottom: 1rem;
					color: theme-colors('theam', 'dark');
				}
			}
			.formsBlock {
				@extend %flexbox;
				&__list {
					padding: 1rem 0rem;
					padding-left: 10px;

					@extend %item-wrap;
					@extend %flexbox;

					li {
						margin-bottom: 0.7rem;
						min-width: 50%;
						input {
							width: 98%;
							margin-left: 0.2rem;
							background: #edebec;
							border: 1px solid theme-colors('theam', 'dark');
						}
					}
				}
			}
			&__bottom {
				padding-left: 10px;
				@extend %flexbox;
				@extend %justify-between;

				.nextBtn {
					background: theme-colors('theam', 'light');
					color: #f8f1fa;
					font-weight: 500;
					padding: 0.5rem 2.5rem;
					cursor: pointer;
					border: none;
					border-radius: 0px;
					@extend %flexbox;
					@extend %all-center;

					&:hover {
						color: theme-colors('background', 'white');
						background: theme-colors('theam', 'base');
					}
				}
			}
		}
		.controlArea {
			@extend %flexbox;
			@extend %all-center;
			padding: 10px;
			li {
				width: 20px;
				height: 20px;
				border-radius: 100%;
				border: 3px solid theme-colors('theam', 'dark');
				margin: 5px;
				&.active {
					border: 3px solid theme-colors('theam', 'light');
				}
			}
		}
	}
	&__right {
		flex: 1 1 auto;
		max-width: 350px;
		@extend %flexbox;
		@include media('<phone') {
			max-width: 100%;
		}
		@include media('>=phone', '<tablet') {
			max-width: 100%;
		}
		.planArea {
			flex: 1 1 auto;
			background: theme-colors('background', 'white');
			padding: 4rem 1rem;
			@extend %flex-column;
			@extend %all-center;
			@include border-radius(10px);
			@include box-shadow(
				4px 4px 10px theme-colors('primary', 'base', 0.1)
			);
			@include transform(translateY(-1.2rem));
			@include media('<phone') {
				@include transform(translateY(0));
			}
			@include media('>=phone', '<tablet') {
				@include transform(translateY(0));
			}
			&__img {
				max-width: 170px;
			}
			li {
				color: theme-colors('theam', 'dark');
				font-size: 20px;
				font-weight: 500;
				list-style: outside;
				margin-bottom: 1.5rem;
			}
			a {
				background: #d4cde5;
				color: theme-colors('theam', 'dark');
				font-weight: 500;
				border-radius: 10px;
				padding: 0.2rem 1.2rem;
				&:hover {
					color: #d4cde5;
					background: theme-colors('theam', 'dark');
				}
			}
		}
	}
}
