$theme-colors-key: 'base' !default;
$theme-colors: (
	'primary': (
		'light': #3f5374,
		'base': #243655,
		'dark': #0e1829,
	),
	'theam': (
		'light': #f3a5b8,
		'base': #e8747a,
		'dark': #512b59,
	),
	'background': (
		'body': #e6e4ec,
		'white': #fff,
		'border': #ededed,
	),
	'alerts': (
		'success': #3c763d,
		'error': #d82a2a,
		'info': #31708f,
		'warning': #8a6d3b,
	),
);
@function theme-colors(
	$name: 'primary',
	$variant: $theme-colors-key,
	$opacity: 1
) {
	$color: null;
	$color-spectrum: map-get($theme-colors, $name);
	@if $color-spectrum {
		$color: map-get($color-spectrum, $variant);
	}
	$alpha: if(
		type-of($opacity) == 'number',
		$opacity,
		map-get($theme-opacity, $opacity)
	);
	@if $alpha {
		$color: rgba($color, $alpha);
	}
	@return $color;
}
