@import '../../styles/abstracts/controls';

.success {
  width: 80%;
  margin: auto;
  padding: 1.2rem 0rem;
  @extend %flex-column;
  @extend %all-center;
  h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
    color: theme-colors('theam', 'dark');
  }
}
