@import '../../styles/abstracts/controls';

.download {
  position: relative;
  top: -5rem;
  min-height: 10rem;
  background-color: theme-colors('background', 'white');
  @extend %radius-md;
  padding: 1rem;
  width: 75%;
  h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
    color: theme-colors('theam', 'dark');
  }
  ul {
    @extend %flexbox;
    @extend %justify-center;
    gap: 2rem;
    li {
      cursor: pointer;
      height: 4rem;
      width: 4rem;
    }
  }
}
