@import '../../styles/abstracts/controls';

.download {
  position: relative;
  top: -5rem;
  min-height: 10rem;
  background-color: theme-colors('background', 'white');
  @extend %radius-md;
  padding: 1rem;
  width: 75%;
  h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
    color: theme-colors('theam', 'dark');
  }
  ul {
    @extend %flexbox;
    @extend %justify-center;
    gap: 2rem;
    li {
      cursor: pointer;
      height: 4rem;
      width: 4rem;
    }
  }
}

#downloadBtn {
  background: theme-colors('theam', 'light');
  color: theme-colors('background', 'white');
  font-weight: 500;
  width: 25%;
  padding: 0.5rem 2.5rem;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  @extend %flexbox;
  @extend %all-center;
  &:hover {
    color: theme-colors('background', 'white');
    background: theme-colors('theam', 'base');
  }
}
